


.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 0;
  padding: 0;
  background: white;
  border: 1px solid rgba(0,0,0,0.2);
}

.menu li {
  list-style: none;
}

.menu li a {
  display: block;
  padding: 5px 30px 5px 12px;
  text-decoration: none;
  border-top: 1px solid #eee;
  color: #2e2e2e;
  outline: none;
}

.menu li:first-child a {
  border-top: none;
}

.menu li a:hover,
.menu li.selected a {
  background: #f1faff;
}

.dropdown-link {
  padding: 5px 30px 5px 12px;
  border: 1px solid rgba(0,0,0,0.2);
  display: inline-block;
  cursor: pointer
}

.dropdown-link:hover {
  background-color: #f1faff;
}

ul.dropdowni li.current,
ul.dropdown-menu li.current {
  background-color: #eee;
}

ul.menu.dropdown-menu {
  margin-top: -1px;
}
